<h1>Listing twitter_accounts</h1>

<table>
  <tr>
    <th>Twitter login</th>
    <th>Twitter pass</th>
    <th>Twitter email</th>
    <th>User</th>
  </tr>

<% @twitter_accounts.each do |twitter_account| %>
  <tr>
    <td><%= link_to(h(twitter_account.twitter_login), twitter_account) %></td>
    <td><%=h twitter_account.twitter_pass %></td>
    <td><%=h twitter_account.twitter_email %></td>
    <td><%=h twitter_account.user_id %></td>
    <td><%= link_to 'Edit', edit_twitter_account_path(twitter_account) %></td>
    <td><%= link_to 'Destroy', twitter_account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Capture New twitter_account', new_twitter_account_path %>
