<h1>New twitter_account</h1>

<% form_for(@twitter_account) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :twitter_login %><br />
    <%= f.text_field :twitter_login %>
  </p>
  <p>
    <%= f.label :twitter_pass %><br />
    <%= f.text_field :twitter_pass %>
  </p>
  <p>
    <%= f.label :twitter_email %><br />
    <%= f.text_field :twitter_email %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', twitter_accounts_path %>
