<h1><%=h @twitter_account.twitter_login %> is a twitter account of 
  <span style="color:green"> <%=h session[:login] %> </span>
</h1>
<p>
  <b>Twitter login:</b>
  <%=h @twitter_account.twitter_login %>
</p>

<p>
  <b>Twitter pass:</b>
  <%=h @twitter_account.twitter_pass %>
</p>

<p>
  <b>Twitter email:</b>
  <%=h @twitter_account.twitter_email %>
</p>

<%= link_to "Edit: #{h @twitter_account.twitter_login} if you want", edit_twitter_account_path(@twitter_account) %>

<p>
<%= "#{h @twitter_account.twitter_login}"%> is following =&gt; 
<%= link_to "These Twitter Accounts (Friends)", :action => "query_friends", :id => @twitter_account %>
</p>

<p>
<%= "#{h @twitter_account.twitter_login}"%>  has =&gt;
<%= link_to "These Followers", :action => "query_followers", :id => @twitter_account %>
</p>
