<p>
  <b>Twitter login:</b>
  <%=h @twitter_account.twitter_login %>
</p>

<p>
  <b>Twitter pass:</b>
  <%=h @twitter_account.twitter_pass %>
</p>

<p>
  <b>Twitter email:</b>
  <%=h @twitter_account.twitter_email %>
</p>

<%= link_to "Edit #{h @twitter_account.twitter_login}", edit_twitter_account_path(@twitter_account) %>
<p>
  <%=h @twitter_account.twitter_login %> is following  =&gt; 
<!--
<a href="/twitter_accounts/query_following">These Twitter Accounts</a>
-->
<%= link_to "These Twitter Accounts", :action => "query_following", :id => @twitter_account %>
</p>
