%h1
  Change Password

- form_for @user, :url => {:controller => :users, :action => :update} do |f|
  = label "cp","Current password"
  %br/
  = text_field "cp","current_password"
  %br/
  = f.label "New password"
  %br/
  = f.password_field :password
  %br/
  = f.label :password_confirmation
  %br/
  = f.password_field :password_confirmation
  %br/
  = f.submit "Change password"


