<h1>Editing mymessage</h1>

<% form_for(@mymessage) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :amessage %><br />
    <%= f.text_field :amessage %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @mymessage %> |
<%= link_to 'Back', mymessages_path %>