<h1>New mymessage</h1>

<% form_for(@mymessage) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :amessage %><br />
    <%= f.text_field :amessage %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', mymessages_path %>